.screenContainer{
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    .pageContent{
        text-align: left;
    }
    .screenSectionHeader{
        span{
            font-family: $secondary-font;
            font-size: 22px;
            font-weight: 400;
            color: $main-blue;
        }
    }
    .centeredPaper{
        width: 100%;
    }
}
body{
    font-family: $main-font;
}

@media only screen and (max-width: 600px) {
    body {
      padding:16px;
    }
    .screenContainer{
        padding-bottom: 170px;
    }
    .page .screenContainer{
        padding-bottom: 0px;
    }
  }

.container{
    max-width: 1280px;
    margin: 0 auto;
}