@import '../../../assets/sass/base.scss';


.pageContent.home{
    h3{
        font-family: $secondary-font;
        font-weight: $regular;
        color: $main-blue;
    }
    h2{
        font-size: 69px;
        font-weight: $bold;
        margin-bottom: 0px;
        &.secondaryHeader{
            color: $secondaryHeader;
            
        }
    }
    @media only screen and (max-width: 600px) {
        h2 {
          font-size: 32px;
        }
      }
    
    p{
        max-width: 450px;
        padding: 24px 0; 
    }
    .ctaContainer{
        margin-top: 32px;
    }
}